<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Este módulo te permite cargar los días no laborables de tu empresa a fin de comunicarlos en tiempo y forma a tus clientes. Una vez cargados estos días feriados son válidos para el año en curso y los sucesivos a partir del mismo.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="<%= holidays_path %>">All holidays</a></li>
    <li><a href="<%= new_holiday_path %>">New holiday</a></li>
  </ul>
</div>