<li><a href="<%= new_user_session_path %>"><%= t("web-app-theme.login", :default => "Login") %></a></li>
<li><a href="<%= new_user_registration_path %>"><%= t("web-app-theme.new_user", :default => "Registrate new user") %></a></li>
