<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Registrarte en Holidays Reminder es muy fácil! carga unos pocos datos básicos y comenzá a usar esta simple pero útil aplicación para mantener informados a tus clientes de los días no laborables de tu empresa.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="<%= new_user_session_path %>">Login</a></li>
    <li><a href="<%= new_user_registration_path %>">Registrate new user</a></li>
  </ul>
</div>