<h3>Hola <%= current_user.name %> ! </h3>
<p class="first">Ya puedes comenzar a administrar tus datos</p>
<div id="admin-customer-link">
  <%= link_to 'Customers', customers_path %>
</div>
<div id="admin-feriados-link">
  <%= link_to 'Holidays', holidays_path %>
</div>
<br />
<hr />
<p>
  Compruebe los beneficios de Holidays Reminder, esta aplicación te ayudará a administrar tus días no laborales permitiendo mejorar la comunicación con tus clientes y delegando la responsabilidad de informarle a los mismos cuando se avecine un feriado, permitiendo tomar las medidas correspondientes para estar preparados ante cualquier eventualidad. Los avisos se enviarán con 14 días de anticipación a la fecha indicada para un día feriado. Carga tus datos a principio de año y deja que <span class="hightlight">Holidays Reminder</span> se encargue del resto.
</p>