<div id="welcome">
  <h1> Bienvenidos a Holidays Reminder </h1>
  <br>	
  <h2>	
    Esta aplicación te ayudará a mejorar la comunicación con tus clientes.
    Holidays Reminder te permite cargar tus clientes nacionales o extranjeros 
    y los feriados locales donde reside tu empresa, luego la aplicación le enviará  
    a tus clientes en forma automática y con anticipación un recordatorio
    de que se aproxima un día no laborable.
  </h2>
  <br>
  <h2>
	Mejora la comunicación con tus clientes en 3 pasos sencillos
  </h2>
  <br>
  <ul>
  <li> 1. Registrate </li>
  <li> 2. Cargá tus clientes </li>
  <li> 3. Cargá tus días feriados </li>	
  </ul>
  <br>
  <h2> y listo! </h2>
</div>