<p class="first">	
	Esta aplicación te ayudará a mejorar la comunicación con tus clientes.
	Holidays Reminder te permite cargar los días feriados locales donde reside
	tu empresa y tus clientes nacionales o extranjeros con los que habitualmente
	trabajás, luego la aplicación le enviará a estos últimos, en forma automática
	y con anticipación, un recordatorio de que se aproxima un día no laborable.
</p>

<h2 class="title"> Mejora la comunicación con tus clientes en 3 pasos sencillos </h2>
</br>
<ul class="list">
	<li> 1. Registrate </li>
	<li> 2. Cargá tus clientes </li>
	<li> 3. Cargá los días feriados </li>	
</ul>
<h2 class="title"> y listo! </h2>
