<% if user_signed_in? -%>
  <h3 class="updater">Administre sus datos</h3>
  <div id="new-log-entry-box">
    Estas logueado en la pagina principal
  </div>
<% else -%>
  <%= render :partial => 'welcome_message' %>
<% end -%>
