<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Este módulo te permite cargar los datos de tus clientes locales o extranjeros con el fin de preservar esta información para utilizarla al momento de enviar las notificaciones. El sistema permite deshabilitar el envío de notificaciones si el cliente no desea recibirlas.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="<%= customers_path %>">All customers</a></li>
    <li><a href="<%= new_customer_path %>">New customer</a></li>
  </ul>
</div>